

__pycache__
.venv
/.vscode
/documentos
/setting
/toTelegram_old
/exiftool_.py
/main.py
/me.session
/README.md
/test.py
config.yaml
*.txt

!toTelgram/
/.toTelegram_old
/.ELIMINAR
/tests
!/split
!/requirements.txt