
.env
__pycache__
.venv
/.vscode
/documentos
/setting
/toTelegram_old
/exiftool_.py
/main.py
/me.session
/test.py
*.txt
/mkdocs.yml
!toTelgram/
/.toTelegram_old
/.ELIMINAR
!/split
!/requirements.txt
site/
/docs
*.yaml
!config.yaml
*.json.xz
!video.mp4
