

__pycache__
.venv
/.vscode
/documentos
/setting
/toTelegram_old
/exiftool_.py
/main.py
/me.session
/test.py
*.txt

!toTelgram/
/.toTelegram_old
/.ELIMINAR
/tests
!/split
!/requirements.txt

/config.yaml